.App-logo {
  width: 40%;
  height: auto;
}

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
}

#main-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 60px;
}

.carousel-item {
  background-color: black;
  width: 100%;
}

#slider {
  align-content: center;
  justify-content: center;
  text-align: center;
  margin-top: 150px;
}

.carousel-item-next {
  transition: transform 0s ease-in-out;
}

.carousel-item-prev {
  transition: transform 0s ease-in-out;
}
.carousel-item-left {
  transform: translateX(-100%);
}
.carousel-item-right {
  transform: translateX(100%);
}

.better-form {
  margin-top: 50px;
  padding-left: 250px;
}

.form-inline {
  width: 100%;
}

.form-group {
  width: 90%;
}

.input-group {
  width: 90% !important;
}

.form-control {
  width: 80% !important;
}

span.input-group-addon {
  width: 80px !important;
}

.error-message {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #dc3545;
}

.navbar-button {
  background-color: #d2f7cd;
  color: black;
  padding: 20px 40px;
  text-align: center;
  font-size: 24px;
  transition-duration: 0.4s;
}

.navbar-button:hover {
  background-color: #4caf50;
  color: white;
}

.link-decoration-none {
  text-decoration: none !important;
}

.welcome-margin {
  margin-top: 20px;
}
